@use "mixins.scss";
@use "variables.scss";

/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.data {
    display: none;
}

.g-signin2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}
